body {
    min-width:800px;
    width: auto !important;
    width:800px;
}

.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    margin-bottom: 0%;
    background-color: wheat;
    padding: 0%;
}

.top {
    display: block;
    width: 98%;
    height: 30%;
    position: relative;
    padding: 1%;
}

#settings {
    position: relative;
    background-color: gray;
    color: white;
    width: 33%;
    float: left;
    height: 100%;
    padding: 0%;
}

#settings_top {
    display: block;
    position: relative;
    top: 0%;
    height: 30%;
    width: 100%;
}

#toggle_webcam {
    height: 40%;
}
#settings_bottom {
    height: 50%;
}

#size_y {
    width: 30px;
}

#start_y {
    width: 30px;
}

#video_wrapper {
    position: relative;
    float: right;
    width: 66%;
    height: 100%;
}

#url_input_wrapper {
    position: relative;
    width: 100%;
    height: 10%;
}

#url_input {
    width: 65%;
    height: 80%;
    position: relative;

}

#url_input_button {
    width: 30%;
    height: 100%;
    float: right;
}

#video_footage_wrapper {
    position: absolute;
    overflow: hidden;
    background-color: black;
    height: 90%;
    width: 100%;
}
#footage {
    background-color: black;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0%;
    z-index: auto;

}
#measurement_area {
    display: block;
    position: absolute;
    outline: 2px solid orange;
    height: 40%;
    width: 50%;
    left: 25%;
    top: 30%;
    z-index: 2;
}
.bottom {
    display: block;
    width: 98%;
    height: 62%;
    position: relative;
    margin: auto;
    padding: 0%;

}

#spectrum {
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
}

#spectrum_canvas {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
    position: relative;
    margin: auto;
    top: 0;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#footage-vid {
    display: none;
}